<DOCTYPE html>
    <html lang="zh-han">
    <head>
         <title>個人中心</title>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    </head>

     <body>
         <form method="post" action="/up_photo" enctype="multipart/form-data" class="login">
             <h3>個人中心</h3>
             {% for i in name %}
             {{i}}<br>
             <a href="/download/{{i}}">Download </a>
             <br>
             <hr>
             {% endfor %}
             <a href="{{ url_for('logout') }}">登出</a>
         </form>
     </body>
    </html>