<DOCTYPE html>
    <html lang="zh-han">
        <head>
            <title>isu 教師聘書系統</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css')}}" >
        </head>
        <body>
        <form class="login">
                {% if username %}
                <p>{{username}}，歡迎來到主頁！ <a href="{{ url_for('panel') }}">個人中心</a> <a href="{{ url_for('logout') }}">登出</a></p>
                 {% else %}
                <p>歡迎來到主頁！ <a href="{{ url_for('login') }}">登入</a> <a href="{{ url_for('regist') }}">註冊</a></p>
                {% endif %}
        </form>
        </body>
    </html>